<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.AttributeValueMapper">
	<resultMap type="AttributeValue" id="AttributeValueResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="value" property="value" jdbcType="VARCHAR"/>
		<association property="saleAttribute" column="sa_id" select="com.fjw.mapper.SaleAttributeMapper.getSaleAttribute" javaType="SaleAttribute"></association>
	</resultMap>
	<insert id="saveAttributeValue" parameterType="AttributeValue">
  		insert into attribute_value (value,sa_id) values (#{value,jdbcType=VARCHAR},
  		#{sa_id,jdbcType=BIGINT});
  	</insert>
	<delete id="deleteAttributeValue" parameterType="java.lang.Long">
		delete from attribute_value where id=#{id,jdbcType=BIGINT};
	</delete>
	<select id="getAttributeValue" resultMap="AttributeValueResult">
		select * from attribute_value where id=#{id,jdbcType=BIGINT};
	</select>
	<update id="updateAttributeValue" parameterType="AttributeValue">
		update attribute_value set value=#{value,jdbcType=VARCHAR},sa_id=#{sa_id,jdbcType=BIGINT} where id=#{id,jdbcType=BIGINT};
	</update>
	<select id="list" resultMap="AttributeValueResult">
		select * from attribute_value where sa_id = #{sa_id,jdbcType=BIGINT};
	</select>
</mapper>
