<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.CommentMapper">
	<resultMap type="Comment" id="CommentResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="text" property="text" jdbcType="VARCHAR"/>
		<result column="star" property="star" jdbcType="INTEGER"/>
		<result column="general" property="general" jdbcType="INTEGER"/>
		<result column="fit" property="fit" jdbcType="INTEGER"/>
		<result column="seller_speed" property="sellerSpeed" jdbcType="INTEGER"/>
		<result column="seller_service" property="sellerService" jdbcType="INTEGER"/>
		<result column="time" property="time" jdbcType="TIMESTAMP"/>
		<association property="user" column="user_id" select="com.fjw.mapper.UserMapper.getUser" javaType="User"></association>
		<association property="keyAttribute" column="ka_id" select="com.fjw.mapper.KeyAttributeMapper.getKeyAttribute" javaType="KeyAttribute"></association>
		<collection property="imgs" column="id" select="com.fjw.mapper.CommentImgMapper.list" ofType="CommentImg"></collection>
	</resultMap>
	<insert id="saveComment" parameterType="com.fjw.dto.CommentDto" useGeneratedKeys="true" keyProperty="id">
  		insert into comment (text,star,general,fit,seller_speed,seller_service,time,user_id,ka_id) values (#{text,jdbcType=VARCHAR},
  		#{star,jdbcType=INTEGER},#{general,jdbcType=INTEGER},#{fit,jdbcType=INTEGER},#{sellerSpeed,jdbcType=INTEGER},
  		#{sellerService,jdbcType=INTEGER},#{time,jdbcType=TIMESTAMP},#{user_id,jdbcType=BIGINT},#{ka_id,jdbcType=BIGINT});
  	</insert>
	<delete id="deleteComment" parameterType="java.lang.Long">
		delete from comment where id=#{id,jdbcType=BIGINT};
	</delete>
	<select id="getComment" resultMap="CommentResult">
		select * from comment where id=#{id,jdbcType=BIGINT};
	</select>
	<select id="list" resultMap="CommentResult">
		select * from comment order by time desc;
	</select>
	<select id="listAll" resultMap="CommentResult">
		select * from comment where ka_id=#{ka_id,jdbcType=BIGINT};
	</select>
	<select id="listByProduct" resultMap="CommentResult" parameterType="java.lang.Long">
		select * from comment where ka_id = #{ka_id,jdbcType=BIGINT} order by time desc;
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from comment where 1 > 2 or id in 
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</delete>
</mapper>
