<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.CommentImgMapper">
	<insert id="saveCommentImg" parameterType="CommentImg">
  		insert into commentimg (url,comment_id) values (#{url,jdbcType=VARCHAR},
  		#{comment_id,jdbcType=BIGINT});
  	</insert>
	<select id="list" resultType="CommentImg" parameterType="java.lang.Long">
		select * from commentimg where comment_id = #{comment_id,jdbcType=BIGINT};
	</select>
	<delete id="delete">
		delete from commentimg where comment_id = #{comment_id,jdbcType=BIGINT};
	</delete>
</mapper>
