<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.KeyAttributeMapper">
	<resultMap type="KeyAttribute" id="KeyAttributeResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="introduction" property="introduction" jdbcType="VARCHAR"/>
		<result column="basePrice" property="basePrice" jdbcType="DECIMAL"/>
		<result column="simpleIntroduction" property="simpleIntroduction" jdbcType="VARCHAR"/>
		<association property="kind" column="kind_id" select="com.fjw.mapper.ProductKindMapper.getProductKind" javaType="ProductKind"/>
		<association property="img" column="id" select="com.fjw.mapper.GeneralProductImgMapper.getImg" javaType="GeneralProductImg"/>
	</resultMap>
	<insert id="saveKeyAttribute" parameterType="KeyAttribute" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  		insert into key_attribute (name,introduction,kind_id,basePrice,simpleIntroduction) values (#{name,jdbcType=VARCHAR},
  		#{introduction,jdbcType=VARCHAR},#{kind.id,jdbcType=BIGINT},#{basePrice,jdbcType=DECIMAL},#{simpleIntroduction,jdbcType=VARCHAR});
  	</insert>
	<delete id="deleteKeyAttribute" parameterType="java.lang.Long">
		delete from key_attribute where id=#{id,jdbcType=BIGINT};
	</delete>
	<select id="getKeyAttribute" resultMap="KeyAttributeResult">
		select * from key_attribute where id=#{id,jdbcType=BIGINT};
	</select>
	<select id="queryByName" resultMap="KeyAttributeResult" parameterType="java.lang.String">
		select * from key_attribute where name=#{name,jdbcType=VARCHAR};
	</select>
	<update id="updateKeyAttribute" parameterType="ProductKind">
		update key_attribute set name=#{name,jdbcType=VARCHAR},introduction=#{introduction,jdbcType=VARCHAR},kind_id=#{kind.id,jdbcType=BIGINT},
		basePrice=#{basePrice,jdbcType=DECIMAL},simpleIntroduction=#{simpleIntroduction,jdbcType=VARCHAR} where id=#{id,jdbcType=BIGINT}
	</update>
	<select id="listByKindDesc" resultMap="KeyAttributeResult">
		select * from key_attribute where kind_id = #{kind_id,jdbcType=BIGINT} order by id desc
		<if test="begin != null">
			limit #{begin,jdbcType=INTEGER}
		</if>
		<if test="end != null">
			,#{end,jdbcType=INTEGER}
		</if>
	</select>
	<select id="listByKind" resultMap="KeyAttributeResult">
		select * from key_attribute where kind_id = #{kind_id,jdbcType=BIGINT}
		<if test="begin != null">
			limit #{begin,jdbcType=INTEGER}
		</if>
		<if test="end != null">
			,#{end,jdbcType=INTEGER}
		</if>
	</select>
	<select id="list" resultMap="KeyAttributeResult">
		select * from key_attribute;
	</select>
	<select id="listByName" resultMap="KeyAttributeResult">
		select * from key_attribute where name like #{name,jdbcType=VARCHAR};
	</select>
	<select id="listNewest" resultMap="KeyAttributeResult">
		select * from key_attribute order by id desc limit #{number,jdbcType=INTEGER};
	</select>
	<select id="listOrderByPrice" resultMap="KeyAttributeResult">
		select * from key_attribute where kind_id = #{kind_id,jdbcType=BIGINT}
		<if test='tag == "asc"'>
			order by basePrice asc 
		</if>
		<if test='tag == "desc"'>
			order by basePrice desc
		</if>
		 limit #{number,jdbcType=INTEGER};
	</select>
</mapper>
