<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.KeyColorMapper">
	<resultMap type="KeyColor" id="KeyColorResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="ka_id" property="ka_id" jdbcType="BIGINT"/>
		<association property="color" column="color_id" select="com.fjw.mapper.ColorMapper.getColor" javaType="Color"></association>
	</resultMap>
	<insert id="add" parameterType="KeyColor">
  		insert into key_color (ka_id,color_id) values (#{ka_id,jdbcType=BIGINT},#{color.id,jdbcType=BIGINT});
  	</insert>
  	<select id="list" resultMap="KeyColorResult">
		select * from key_color where ka_id=#{ka_id,jdbcType=BIGINT};
	</select>
	<delete id="delete">
		delete from key_color where id=#{id,jdbcType=BIGINT};
	</delete>
	<select id="get" resultMap="KeyColorResult">
		select * from key_color where id=#{id,jdbcType=BIGINT};
	</select>
	<update id="update" parameterType="KeyColor">
		update key_color set ka_id = #{ka_id,jdbcType=BIGINT},color_id = #{color.id,jdbcType=BIGINT};		
	</update>
</mapper>
