<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.KeyValueMapper">
	<resultMap type="KeyValue" id="KeyValueResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="ka_id" property="ka_id" jdbcType="BIGINT"/>
		<association property="attributeValue" column="av_id" select="com.fjw.mapper.AttributeValueMapper.getAttributeValue" javaType="AttributeValue"></association>
	</resultMap>
	<insert id="add" parameterType="KeyValue">
  		insert into key_value (ka_id,av_id) values (#{ka_id,jdbcType=BIGINT},#{av_id,jdbcType=BIGINT});
  	</insert>
  	<select id="list" resultMap="KeyValueResult">
		select * from key_value where ka_id=#{ka_id,jdbcType=BIGINT};
	</select>
	<select id="query" resultMap="KeyValueResult">
		select * from key_value where ka_id=#{ka_id,jdbcType=BIGINT} and av_id=#{av_id,jdbcType=BIGINT};
	</select>
	<select id="get" resultMap="KeyValueResult">
		select * from key_value where id=#{id,jdbcType=BIGINT};
	</select>
	<select id="getByKa" resultType="java.lang.Long">
		select id from key_value where ka_id=#{ka_id,jdbcType=BIGINT} and av_id=#{av_id,jdbcType=BIGINT};
	</select>
</mapper>
