<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.OrderListMapper">
	<resultMap type="OrderList" id="OrderListResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="orderCode" property="orderCode" jdbcType="VARCHAR"/>
		<result column="orderState" property="orderState" jdbcType="INTEGER"/>
		<result column="mark" property="mark" jdbcType="VARCHAR"/>
		<result column="postPrice" property="postPrice" jdbcType="DECIMAL"/>
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
		<association property="user" column="user_id" select="com.fjw.mapper.UserMapper.getUser" javaType="User"></association>
		<association property="address" column="address_id" select="com.fjw.mapper.AddressMapper.getSingleAddress" javaType="Address"></association>
		<collection property="products" column="id" select="com.fjw.mapper.OrderProductMapper.listProduct" ofType="OrderProduct"></collection>
	</resultMap>
	<insert id="saveOrderList" parameterType="OrderList" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  		insert into orderlist (orderCode,orderState,mark,postPrice,createTime,user_id,address_id) values (#{orderCode,jdbcType=VARCHAR},
  		#{orderState,jdbcType=INTEGER},#{mark,jdbcType=VARCHAR},#{postPrice,jdbcType=DECIMAL},#{createTime,jdbcType=TIMESTAMP},#{user.id,jdbcType=BIGINT},
  		#{address.id,jdbcType=BIGINT});
  	</insert>
	<delete id="deleteOrderList" parameterType="java.lang.Long">
		delete from orderlist where id=#{id,jdbcType=BIGINT} and user_id=#{user_id,jdbcType=BIGINT};
	</delete>
	<select id="getOrderList" resultMap="OrderListResult">
		select * from orderlist where id=#{id,jdbcType=BIGINT};
	</select>
	<select id="getByOrderCode" resultMap="OrderListResult">
		select * from orderlist where orderCode=#{orderCode,jdbcType=VARCHAR} and user_id = #{user_id,jdbcType=BIGINT};
	</select>
	<update id="updateOrderList">
		update orderlist set orderState=#{orderState,jdbcType=INTEGER},mark=#{mark,jdbcType=VARCHAR},address_id=#{address_id,jdbcType=BIGINT}
		where orderCode=#{orderCode,jdbcType=VARCHAR}
	</update>
	<select id="list" resultMap="OrderListResult">
		select * from orderlist;
	</select>
	<select id="listByUser" resultMap="OrderListResult">
		select * from orderlist where user_id = #{user_id,jdbcType=BIGINT};
	</select>
	<select id="listByState" resultMap="OrderListResult">
		select * from orderlist where orderState = #{state,jdbcType=INTEGER} and user_id = #{user_id,jdbcType=BIGINT};
	</select>
	<select id="query" parameterType="OrderQuery" resultMap="OrderListResult">
		select * from orderlist o join user u on o.user_id = u.id join address a on o.address_id = a.id where 1=1 
		<if test='orderCode != null and orderCode != ""'>
			and orderCode = #{orderCode,jdbcType=VARCHAR}
		</if>
		<if test='orderState != null and orderState != ""'>
			and orderState = #{orderState,jdbcType=INTEGER}
		</if>
		<if test='username != null and username != ""'>
			and u.username = #{username,jdbcType=VARCHAR}
		</if>
		<if test='phone != null and phone != ""'>
			and a.phone = #{phone,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getCount" parameterType="OrderQuery" resultType="java.lang.Integer">
		select count(*) from orderlist o join user u on o.user_id = u.id join address a on o.address_id = a.id where 1=1 
		<if test='orderCode != null and orderCode != ""'>
			and orderCode = #{orderCode,jdbcType=VARCHAR}
		</if>
		<if test='orderState != null and orderState != ""'>
			and orderState = #{orderState,jdbcType=INTEGER}
		</if>
		<if test='username != null and username != ""'>
			and u.username = #{username,jdbcType=VARCHAR}
		</if>
		<if test='phone != null and phone != ""'>
			and a.phone = #{phone,jdbcType=VARCHAR}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from orderlist where 1 > 2 or id in 
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</delete>
	<update id="finishOrderList">
		update orderList set orderState = 4 where orderCode = #{orderCode,jdbcType=VARCHAR};
	</update>
</mapper>
