<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.ProductKindMapper">
	<resultMap type="ProductKind" id="ProductKindResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="cn_name" property="cn_name" jdbcType="VARCHAR"/>
		<association property="parent" column="parent_id" select="getProductKind" javaType="ProductKind"></association>
	</resultMap>
	<insert id="saveProductKind" parameterType="ProductKind">
  		insert into productkind (name,cn_name,parent_id) values (#{name,jdbcType=VARCHAR},#{cn_name,jdbcType=VARCHAR},#{parent.id,jdbcType=BIGINT});
  	</insert>
	<delete id="deleteProductKind" parameterType="java.lang.Long">
		delete from productkind where id=#{id,jdbcType=BIGINT};
	</delete>
	<select id="getProductKind" parameterType="java.lang.Long" resultMap="ProductKindResult">
		select * from productkind where id=#{id,jdbcType=BIGINT};
	</select>
	<update id="updateProductKind" parameterType="ProductKind">
		update productkind set name=#{name,jdbcType=VARCHAR},cn_name=#{cn_name,jdbcType=VARCHAR},parent_id=#{parent.id,jdbcType=BIGINT} where id=#{id,jdbcType=BIGINT}
	</update>
	<select id="list" resultMap="ProductKindResult">
		select * from productkind;
	</select>
	<select id="listBase" resultMap="ProductKindResult">
		select * from productkind where parent_id is null;
	</select>
	<select id="queryByName" parameterType="java.lang.String" resultMap="ProductKindResult">
		select * from productkind where 1=1
		<if test='name != null and name != ""'>
		    and	cn_name like #{name,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from productkind where 1=1
		<if test='name != null and name != ""'>
		    and	cn_name like #{name,jdbcType=VARCHAR}
		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from productkind where 1 > 2 or id in 
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</delete>
</mapper>
