<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.ProductMapper">
	<resultMap type="Product" id="ProductResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="price" property="price" jdbcType="DECIMAL"/>
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="number" property="number" jdbcType="INTEGER"/>
		<result column="state" property="state" jdbcType="INTEGER"/>
		<result column="keyTag" property="keyTag" jdbcType="VARCHAR"/>
		<association property="keyAttribute" column="ka_id" select="com.fjw.mapper.KeyAttributeMapper.getKeyAttribute" javaType="KeyAttribute"/>
		<association property="color" column="color_id" select="com.fjw.mapper.ColorMapper.getColor" javaType="KeyAttribute"/>
		<collection property="keyValues" column="id" select="com.fjw.mapper.KeyValueProductMapper.list" ofType="KeyValueProduct"></collection>
	</resultMap>
	<insert id="saveProduct" parameterType="Product" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  		insert into product (price,createTime,number,state,keyTag,color_id,ka_id) values (#{price,jdbcType=DECIMAL},
  		#{createTime,jdbcType=TIMESTAMP},#{number,jdbcType=INTEGER},#{state,jdbcType=INTEGER},
  		#{keyTag,jdbcType=VARCHAR},#{color.id,jdbcType=BIGINT},#{keyAttribute.id,jdbcType=BIGINT});
  	</insert>
	<update id="deleteProduct" parameterType="java.lang.Long">
		update product set state = 0 where id=#{id,jdbcType=BIGINT};
	</update>
	<select id="getProduct" resultMap="ProductResult">
		select * from product where id=#{id,jdbcType=BIGINT};
	</select>
	<select id="getProductByAttribute" resultMap="ProductResult">
		select * from product where ka_id = #{ka_id,jdbcType=BIGINT} and color_id = #{color_id,jdbcType=BIGINT} and keyTag = #{keyTag,jdbcType=VARCHAR};
	</select>
	<update id="updateProduct" parameterType="Product">
		update product set price=#{price,jdbcType=DECIMAL},createTime=#{createTime,jdbcType=TIMESTAMP},number=#{number,jdbcType=INTEGER},
		state=#{state,jdbcType=INTEGER},keyTag=#{keyTag,jdbcType=VARCHAR},color_id=#{color.id,jdbcType=BIGINT},
		ka_id=#{keyAttribute.id,jdbcType=BIGINT} where id=#{id,jdbcType=BIGINT};
	</update>
	<select id="list" resultMap="ProductResult">
		select * from product;
	</select>
	<select id="listSale" resultMap="ProductResult">
		select * from product where state = 1;
	</select>
	<select id="listByKey" resultMap="ProductResult">
		select * from product where ka_id = #{ka_id,jdbcType=BIGINT};
	</select>
	<select id="getFirst" resultMap="ProductResult">
		select * from product where ka_id = #{ka_id,jdbcType=BIGINT} limit 1;
	</select>
	<select id="query" resultMap="ProductResult" parameterType="ProductQuery">
		select * from product p join key_attribute k on p.ka_id = k.id where 1=1
		<if test="state != null and state != 3">
			and p.state = #{state,jdbcType=INTEGER} 
		</if>
		<if test='name != null and name != ""'>
			and k.name like #{name,jdbcType=VARCHAR}
		</if>
 		<if test='min != null and min != ""'>
 			and p.price &gt;= #{min,jdbcType=DECIMAL}
 		</if>
 		<if test='max != null and max != ""'>
 			and p.price &lt;= #{max,jdbcType=DECIMAL}
 		</if>
	</select>
	<select id="getCount" resultType="java.lang.Integer" parameterType="ProductQuery">
		select count(*) from product p join key_attribute k on p.ka_id = k.id where 1=1
		<if test="state != null and state != 3">
			and p.state = #{state,jdbcType=INTEGER} 
		</if>
		<if test='name != null and name != ""'>
			and k.name like #{name,jdbcType=VARCHAR}
		</if>
 		<if test='min != null and min != ""'>
 			and p.price &gt;= #{min,jdbcType=DECIMAL}
 		</if>
 		<if test='max != null and max != ""'>
 			and p.price &lt;= #{max,jdbcType=DECIMAL}
 		</if>
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from product where 1 > 2 or id in 
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</delete>
</mapper>
