<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.RoleMapper">
	<insert id="saveRole" parameterType="Role">
  		insert into role (name) values (#{name,jdbcType=VARCHAR});
  	</insert>
	<delete id="deleteRole" parameterType="java.lang.Long">
		delete from role where id=#{id,jdbcType=BIGINT};
	</delete>
	<select id="getRole" resultType="Role">
		select * from role where id=#{id,jdbcType=BIGINT};
	</select>
	<update id="updateRole" parameterType="Role">
		update role set name=#{name,jdbcType=VARCHAR} where id=#{id,jdbcType=BIGINT};
	</update>
	<select id="list" resultType="Role">
		select * from role;
	</select>
	<!-- <select id="listByUser" resultType="Role" parameterType="java.lang.Long">
		select * from role r join user_role ur on r.id = ur.id where ur.user_id = #{user_id,jdbcType=BIGINT};
	</select> -->
	<select id="queryByName" resultType="Role" parameterType="java.lang.String">
		select * from role where name = #{name,jdbcType=VARCHAR};
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from role where 1 > 2 or id in 
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item,jdbcType=BIGINT}
		</foreach>
	</delete>
</mapper>