<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.SaleAttributeMapper">
	<insert id="saveSaleAttribute" parameterType="SaleAttribute">
  		insert into sale_attribute (name,kind_id) values (#{name,jdbcType=VARCHAR},
  		#{kind_id,jdbcType=BIGINT});
  	</insert>
	<delete id="deleteSaleAttribute" parameterType="java.lang.Long">
		delete from sale_attribute where id=#{id,jdbcType=BIGINT};
	</delete>
	<select id="getSaleAttribute" resultType="SaleAttribute">
		select * from sale_attribute where id=#{id,jdbcType=BIGINT};
	</select>
	<update id="updateSaleAttribute" parameterType="SaleAttribute">
		update sale_attribute set name=#{name,jdbcType=VARCHAR},kind_id=#{kind_id,jdbcType=BIGINT} where id=#{id,jdbcType=BIGINT};
	</update>
	<select id="list" resultType="SaleAttribute">
		select * from sale_attribute where kind_id = #{kind_id,jdbcType=BIGINT};
	</select>
	<select id="listAll" resultType="SaleAttribute">
		select * from sale_attribute;
	</select>
</mapper>
