<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjw.mapper.ShoppingcarProductMapper">
	<resultMap type="ShoppingcarProduct" id="ShoppingcarProductResult">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="shoppingcar_id" property="car_id" jdbcType="BIGINT"/>
		<result column="buyNumber" property="buyNumber" jdbcType="INTEGER"/>
		<association property="product" column="product_id" select="com.fjw.mapper.ProductMapper.getProduct" javaType="Product"></association>
	</resultMap>
	<insert id="saveCarProduct" parameterType="ShoppingcarProduct">
  		insert into shoppingcar_product (shoppingcar_id,buyNumber,product_id) values (#{car_id,jdbcType=BIGINT},
  		#{buyNumber,jdbcType=INTEGER},#{product.id,jdbcType=BIGINT});
  	</insert>
	<delete id="deleteCarProduct" parameterType="java.lang.Long">
		delete from shoppingcar_product where shoppingcar_id=#{car_id,jdbcType=BIGINT} and product_id=#{product_id,jdbcType=BIGINT};
	</delete>
	<select id="getCarProduct" resultMap="ShoppingcarProductResult">
		select * from shoppingcar_product where shoppingcar_id=#{car_id,jdbcType=BIGINT} and product_id=#{product_id,jdbcType=BIGINT};;
	</select>
	<update id="updateCarProduct" parameterType="ShoppingcarProduct">
		update shoppingcar_product set shoppingcar_id=#{car_id,jdbcType=VARCHAR},
		buyNumber=#{buyNumber,jdbcType=INTEGER} where id=#{id,jdbcType=BIGINT};
	</update>
	<select id="list" resultMap="ShoppingcarProductResult">
		select * from shoppingcar_product where shoppingcar_id = #{car_id,jdbcType=BIGINT};
	</select>
	<delete id="batchDelete" parameterType="java.util.List">
		delete from shoppingcar_product where shoppingcar_id = #{car_id,jdbcType=BIGINT} and product_id in 
		<foreach  collection="ids" item="id" open="(" separator="," close=")">
			#{id,jdbcType=BIGINT}
		</foreach>
	</delete>
</mapper>