a{
    text-decoration: none;
}
.container{
    background: #F4F6FA;
}
.box{
    width: 1240px;
    margin: 0 auto;
}
.box li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.box-title{
    width: 100%;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #EFEFEF;
}
.icon-icon_correct{
    font-size: 18px;
    position: relative;
    color: #fff;
}
.box-title .icon-icon_correct{
    bottom: 15px;
    left: 1px;
}
.box-body .icon-icon_correct{
    top: 1px;
    left: 1px;
}
.myicon-selected{
    width: 20px;
    height: 20px;
    background: #00c3f5;
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
}
.myicon{
    width: 18px;
    height: 18px;
    background:#fff;
    border: 1px solid #999;
    margin: 0 auto;
    cursor: pointer;
}
.box-title .li1{
    width: 5%;
}
.box-title .li2{
    width: 41%;
    text-align: left;
}
.box-title .li3,.li4,.li5,.li6{
    width: 13%;
    font-size: 12px;
    color: #999;
}
.box-title .li6 a{
    color: #00c3f5;
}

.box-body{
    background: #fff;
}
.box-body ul{
    border-bottom: 1px solid #ececec;
    padding: 25px 0;
}
.box-body ul:first-child{
    border-top: 1px solid #ececec;
}
.box-body li img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.box-body li .name{
    display: inline-block;
    vertical-align: middle;
}
.box-body li .p2{
    font-size: 13px;
    color: #999;
    padding-top: 8px;
}
.box-body .li1{
    width: 5%;
}
.box-body .li2{
    text-align: left;
    width: 41%;
}
.box-body .li2 a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.box-body .li3,.li4,.li5,.li6{
    width: 13%;
}
.box-body .li3{
    color: #666;
}
.box-body .li5{
    font-size: 16px;
    color: #E02B41;
}
.box-body .li6{
    font-size: 16px;
    color: #666;
}
.box-body .li6 span{
    cursor: pointer;
}
.box-body .icon-cancel{
    font-size: 13px;
    display: none;
}



.box-total .left{
    float: left;
}
.box-total .right{
    float: right;
}
.box-total{
    margin-top: 15px;
    margin-bottom: 40px;
    height: 70px;
    line-height: 70px;
    background: #fff;
    font-size: 14px;
}
.box-total .myicon{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.box-total .myicon-selected{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.box-total .icon-icon_correct{
    bottom: 25px;
    left: 1px;
}
.box-total .delete{
    color: #999;
    padding: 0 15px;
}
.box-total .left .span0{
    padding-left: 8px;
}
.box-total .left .span1{
    color: #999;
}
.box-total .left .span2{
    color: #00c3f5;
    padding: 0 2px;
}
.box-total .left .span3{
    color: #00c3f5;
    padding: 0 2px;
}
.box-total .right .span1{
    margin: 0 4px;
    color: #E02B41;
}
.box-total .right .span2{
    color: #E02B41;
    font-size: 20px;
    font-weight: bold;
}
.box-total .right .btn-calculate{
    background: #F66567;
    border: none;
    outline: none;
    color: #fff;
    padding: 8px 28px;
    border-radius: 2px;
    margin: 0 30px;
    cursor: pointer;
}






