.container{
    background-color: #f4f4f4;
}
.clearfix:after{
    content: " ";
    display: block;
    clear: both;
    width: 0;
    height: 0;
    visibility: hidden;
}

.box{
    margin-top: 50px;
    width: 100%;
    min-width: 1349px;
    text-align: center;
    background: #fff;
}
.box-detail{
    width: 1349px;
    background-color: #fff;
    margin: 0 auto;
}
.left{
    width: 560px;
    margin-left: 40px;
}
.right{
    width: 640px;
    text-align: left;
    margin-left: 40px;
    padding-top: 50px;
}
.detail-component{
    float: left;
}
.big{
    width: 560px;
}
.small{
    cursor: pointer;
    width: 80px;
}
.small-img{
    text-align: left;
}
.small-img li{
    display: inline-block;
    margin: 0 22px;
}
.collect{
    color: #BFBFBF;
    text-align: left;
    margin: 30px 0 0 55px;
    width: 26px;
    cursor: pointer;
}
.collect .div1{
    font-size: 18px;
}
.collect .div2{
    position: relative;
    right: 4px;
    padding-top: 5px;
    font-size: 12px;
}
.right .title{
    font-size: 28px;
    font-weight: 700;
    color: #262626;
}
.right .introduction{
    font-size: 14px;
    color: #e22841;
    margin: 10px 0;
    line-height: 22px;
}
.right .price{
    color: #e02b41;
    padding: 16px 0;
    background-color: #f4f6fa;
}
.price .money{
    font-size: 26px;
    position: relative;
    left: 12px;
}
.right .money-number{
    font-size: 36px;
    font-weight: 500;
    margin-left: 10px;
}
.support{
    margin: 15px 0;
    font-size: 14px;
    color: #999;
}
.support ul{
    display: inline-block;
}
.support li{
    display: inline-block;
    margin-right: 15px;
}
.detail-small-title{
    display: inline-block;
    width: 70px;
    color: #999;
    letter-spacing: 1px;
    font-size: 14px;
}
.right .short{
    letter-spacing: 20px;
}
.support i{
    font-size: 20px;
    padding-right: 5px;
}
.express-container-1 .addresslist{
    display: inline-block;
}
.express-container-1 .detail-small-title{
    letter-spacing: 2px;
}
.express li{
    display: inline-block;
}
.express{
    color: #999;
    font-size: 14px;
}
.addresslist{
    font-size: 15px;
    color: #333;
    margin: 0 2px;
}
.express .span1{
    color: #00beff;
    margin-right: 5px;
}
.express .span1 i{
    font-size: 20px;
    margin-right: 5px;
}
.express-container-2{
    margin: 10px 0 25px 76px;
}
.option>div{
    margin: 10px 0;
}
.option ul{
    vertical-align: middle;
    display: inline-block;
    width: 560px;
}
.option-box li{
    display: inline-block;
    border: 1px solid #cecbcb;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px 10px 10px 0;
    border-radius: 2px;
    font-size: 15px;
    color: #666;
    cursor: pointer;
}
.option-box a{
    text-decoration: none;
    color: #666;
    display: inline-block;
    width: 100%;
}
.option-box .selected{
    border: 1px solid #666;
}
.option .detail-small-title{
    vertical-align: middle;
}
.option li img{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height:30px;
    padding-right:8px;
}

.option .select-number{
    display: inline-block;
    color: #999;
    word-spacing: -5px;
}
.option .select-number div{
    display: inline-block;
}
.option .btn-number{
    width: 30px;
    height: 42px;
    text-align: center;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    cursor: pointer;
    outline: none;
}
.option .number input[name='number']{
    width: 70px;
    text-align: center;
    height: 38px;
    border: none;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    color: #6f6f6f;
    outline: none;
}


.btn-container{
    margin: 50px 0;
}
.btn-container li{
    display: inline-block;
    margin-right: 20px;
}
.btn-container button{
    width: 210px;
    padding: 15px 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.btn-buy{
    background: #27b3ff;
    color: #fff;
    border: none;
    font-size: 19px;
}
.right .btn-notEnough{
    background: #acacac;
}
.btn-container .btn-addcar{
    width: 208px;
    background: #fff;
    border: 1px solid #27b3ff;
    color: #27b3ff;
    font-size: 19px;
    padding: 14px 0;
}
.option .number{
    margin-top: 10px;
}




.all-introduction{
    width: 1240px;
    margin: 0 auto 70px auto;
}
.all-introduction-title{
    font-size: 24px;
    padding-top: 55px;
    padding-bottom: 30px;
    text-align: left;
}
.all-introduction-title span{
    cursor: pointer;
    padding-bottom: 4px;
    margin-right: 30px;
}
.all-introduction-title .active{
    border-bottom: 2px solid #333;
}
.icon-star,.icon-star-half{
    color: #ababab;
}
.all-comment{
    width: 100%;
    font-size: 15px;
    color: #333;
    border-bottom: 1px solid #e4e4e4;
    padding: 60px 0 80px 0;
}
.all-comment-left{
    width: 30%;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #e4e4e4;
}
.all-comment-right{
    height:100%;
    display: inline-block;
    position: relative;
    bottom: 40px;
}
.all-comment-score{
    font-size: 84px;
    color: #f51200;
    line-height: 96px;
}
.all-comment-star i{
    font-size: 20px;
}
.star i{
    font-size: 16px;
}
.all-comment-right .star{
    letter-spacing: 0;
}
.all-comment-right li{
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
}
.all-comment-right>ul>li{
    display: inline-block;
    padding: 0 50px;
}
.all-comment-right>ul>li>ul>li{
    padding: 10px 0;
}

.introduction-comment{
    display: none;
}
.show-comment>ul>li{
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #e4e4e4;
}
.show-comment .user li{
    float: left;
    line-height: 50px;
    margin-right: 30px;
}
.user .user-header-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user .user-name{
    width: 80px;
    font-size: 16px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user .star i{
    font-size: 20px;
}
.show-comment .comment-text{
    font-size: 16px;
    color: #333;
    line-height: 24px;
}
.show-comment .comment-img li{
    display: inline-block;
    margin-right: 30px;
}
.show-comment .comment-img{
    margin: 10px 0;
}
.show-comment .comment-img img{
    width: 80px;
    height: 80px;
}
.show-comment .text{
    margin-left: 190px;
    text-align: left;
}
.show-comment .comment-time{
    margin-top: 30px;
    font-size: 14px;
    color: #999;
}
.btn-comment-more{
    padding: 8px 120px;
    background: #27b3ff;
    border: 1px solid #27b3ff;
    color: #fff;
    outline: none;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 4px;
    cursor: pointer;
}



.dialog-car{
    width: 350px;
    height: 130px;
    border: 1px solid #d0cece;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -65px;
    background: #fff;
    color: #666;
    display: none;
}
.dialog-car .icon-cancel{
    float: right;
    font-size: 13px;
    padding: 10px 15px;
    color: #c1c0c0;
    cursor: pointer;
}
.dialog-car .icon-pro-finish{
    font-size: 32px;
    vertical-align: middle;
}
.dialog-car span{
    vertical-align: middle;
}
.dialog-car .p2{
    padding-top: 20px;
}
.dialog-car .p2 a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
}