.container{
    background: url("../images/totalBackground.png") center no-repeat;
    height: 100vh;
    background-size: 100%;
}
.header{
    width: 100%;
    height: 80px;
}
a{
    text-decoration: none;
}
.logo{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-position: 10px 10px;
    margin-left: 55px;
    margin-top: 15px;
    font-size: 26px;
    font-weight: 550;
    color: #22baee;
}
.box{
    width: 894px;
    margin: 0 auto;
}
.return{
    width: 100%;
    margin: 30px 0 15px 0;
}
.return a{
    text-decoration: none;
    font-size: 15px;
    color: #22baee;
}
.return a:hover{
    font-size: 16px;
    text-decoration: underline;
}
.main{
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.span1{
    font-size: 25px;
    display: inline-block;
    margin-bottom: 40px;
}
input{
    height: 48px;
    margin-bottom: 15px;
    background: #e6e6e6;
    border-radius: 9px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-indent: 16px;
    font-size: 14px;
    letter-spacing: 1px;
}
.warn{
    text-align: left;
}
.span2{
    font-size: 13px;
    color: #a29b9b;
}
input[name='username'],input[name='password'],input[name='repassword']{
    width: 100%;
}
.main-mid input{
    margin: 10px 0;
}
input[name='identifyCode']{
    width: 63%;
}
.btn_identifyCode{
    cursor: pointer;
    height: 46px;
    width: 35%;
    border-radius: 9px;
    outline: none;
    border: none;
    font-size: 14px;
    color:#fff;
    background-color: #22baee87;
}
.btn_identifyCode:hover{
    background-color: #22baee;
    transition: 220ms;
}
.message{
    height: 20px;
    text-align: left;
    padding-left: 3px;
}
.span3{
    font-size: 14px;
    color: #f30808;
}
.btn_submit{
    width: 100%;
    height: 48px;
    border: none;
    background-color: #22baee87;
    color: white;
    border-radius: 9px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}
.btn_submit:hover{
    background-color: #22baee;
    transition: 220ms;
    font-size: 18px;
}
.footer{
    text-align: center;
    padding: 60px 0 20px 0;
    font-size: 12px;
    color: #464343;
}
.footer span{ 
    margin-left: 6px;
}

.text-error::-webkit-input-placeholder { /* WebKit browsers */
    color:    red;
}
.text-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    red;
}
.text-error::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    red;
}
.text-error:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    red;
}