a{
    text-decoration: none;
}
.box{
    width: 1240px;
    margin: 60px auto;
}
.left{
    width: 14%;
    float: left;
    background: #fafafc;
    text-align: center;
}
.left li{
    margin: 50px 0;
}
.left li a{
    color: #999;
}
.left li i{
    padding-right: 12px;
    font-size: 20px;
    color: #666;
    font-weight: 600;
}
.right{
    width: 82%;
    float: right;
}


.info-title{
    width: 100%;
    height: 40px;
    font-size: 22px;
    color: #69696b;
    line-height: 40px;
    border-bottom: 1px solid #ccc7c7;
}
.info-detail-title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #353434;
    margin: 20px 0;
    letter-spacing: 2px;
}
.spot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.spot1{
    background: #ac6eb7a3;
}
.spot2{
    background: #fd7e587d;
}
.spot3{
    background: #00adff42;
}
.spot4{
    background: #1fa00f5e;
}
.info-tag,.username{
    font-size: 15px;
    color: #757575;
}
.info-tag{
    margin-left: 19px;
}
.head-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #999;
    margin-left: 50px;
}
.head-img-div{
    height: 120px;
    line-height: 120px;
}
.info button{
    border: none;
    background: #1690d8ad;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.change-head{
    display: inline-block;
}
.btn-change-head{
    position: relative;
    bottom: 44px;
    left: 30px;
    padding: 8px 22px;
    border-radius: 5px;
}
.info button:hover{
    background-color: #1690d8;
    transition: 400ms;
}
.icon-shouji{
    font-size: 40px;
    color: #999;
    margin-left: 13px;
    position: relative;
    top: 6px;
}
input[name="phone"]{
    outline: none;
    width: 140px;
    height: 24px;
    margin: 0 20px 0 10px;
    border: 1.5px solid #b9b6b6;
    border-radius: 4px;
    line-height: 24px;
    font-size: 14px;
    text-indent: 4px;
    color: #666;
}
.btn-identify{
    padding: 5px 12px;
    border-radius: 2px;
}
.btn-change-detail{
    padding: 2px 10px;
    border-radius: 2px;
    margin-left: 20px;
}
input[name='name']{
    margin: 0 0 30px 0;
    border: 1px solid #999;
    height: 20px;
    border-radius: 3px;
    text-indent: 8px;
    color: #666;
}
.info-div{
    padding: 0 0 30px 20px;
    border-bottom: 1px dashed #b9b8b8;
}
input[name='p-note']{
    margin: 30px 0;
    width: 300px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 3px;
    text-indent: 4px;
    color: #666;
}
input[disabled="true"]{
    background:#fff;
}
.info-detail-input{
    display: inline-block;
    width: 80px;
}
.sex{
    color: #999;
    font-size: 15px;
}
.info-btn-submit{
    margin-top: 30px;
    padding: 10px 28px;
    border-radius: 2px;
}
.changePs a{
    display: inline-block;
    font-size: 15px;
    margin-left: 21px;
    color: #1690d8;
}
.info .change-password{
    margin: 30px 0 15px 0;
    display: none;
}
.info input[name='password']{
    height: 22px;
    width: 200px;
    text-indent: 4px;
    font-size: 18px;
    border: 1px solid #999;
    border-radius: 2px;
}
.info-btn-changePs{
    padding: 4.5px 16px;
    border-radius: 3px;
    margin-left: 15px;
}


.order-title{
    margin-top: 50px;
    width: 100%;
}
.order-title ul{
    font-size: 0;
    width: 100%;
    border-bottom: 1px solid #dad6d6;
}

.order-title li{
    display: inline-block;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    padding: 15px 20px;
    text-align: center;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
.order-title li:hover{
    color: #00cbf9;
    border-bottom: 2px solid #00cbf9;
    transition: 300ms;
}
.order-title li:after{
    display: inline-block;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #dad6d6;
    position: relative;
    left: 40px;
}
.order-title .last:after{
    display: none;
}
.order-tag{
    width: 100%;
    height: 40px;
    background-color: #fafafc;
    margin: 15px 0;
    line-height: 40px;
    color: #666;
    font-size: 15px;
}
.order-tag li{
    display: inline-block;
    text-align: center;
}
.order-tag .tag1{
    width: 50%;
}
.order-tag .tag2,.tag3,.tag4,.tag5{
    width: 12%;
}
.order-body table{
    width: 100%;
    border-right: 1px solid #e4e0e0;
    margin-bottom: 20px;
}
.order-body td{
    text-align: center;
}
.order-body .table-title{
    background: #fafafc;
    border: 1px solid #e4e0e0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 13px;
}
.icon-service{
    color: #00cbf9;
}
.order-body .td1{
    width: 62%;
}
.order-body .td2,.td3,.td4{
    width: 12%;
}
.td1 .span1{
    color: #999;
}
.td1 .span2{
    color: #999;
}
.td1 .span3{
    color: #00cbf9;
}
.td1 .order-time{
    margin-right: 20px;
}
.td1 .order-code{
    text-align: left;
    display: inline-block;
    width: 250px;
}
.order-body tbody td{
    position: relative;
    border-bottom: 1px solid #e4e0e0;
    border-left: 1px solid #e4e0e0;
    vertical-align: middle;
}
.order-body tbody .td1{
    height: 140px;
    width: 100%;
    display: inline-block;
    line-height: 140px;
    text-align: left;
}
.order-body tbody .td1 span{
    font-size: 13px;
    color: #666;
}
.order-body img{
    margin: 0 10px;
    width: 102px;
    height: 102px;
    vertical-align: middle;
}
.order-body .order-price{
    color: #e02b41;
    font-size: 18px;
    font-weight: 550;
}
.order-body .order-state{
    font-size: 15px;
    color: #666;
}
.order-operation a{
    display: inline-block;
    outline: none;
    border: none;
    margin: 10px 0;
    padding: 4px 10px;
    background-color: #00cbf9;
    color: #fff;
    border-radius: 3px;
    font-size: 8px;
    cursor: pointer;
}
.order .page .ul2{
    margin-right: 0;
}
.order .page input[name='page']{
    border: 1px solid #e4e0e0;
}
.order-title .selected{
    color: #00cbf9;
    border-bottom: 2px solid #00cbf9;
}




.collection-box{
    margin: 40px 0;
}
.collection-box li{
    display: inline-block;
    margin: 2px;
    text-align: center;
}
.collection-box ul{
    width: 100%;
    text-align: left;
}
.collection-title{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc7c7;
    line-height: 38px;
}
.collection-title span{
    display: inline-block;
    text-align: center;
    width: 100px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #00c3f5;
    border-bottom: 3px solid #00c3f5;
}
.icon-delete{
    font-size: 20px;
    color: #999;
}
.collection-product{
    width: 193px;
    height: 280px;
    border: 1px solid #e2dfdf;
    position: relative;
}
.collection-product:hover{
    transition: 300ms;
    border: 1px solid #ada7a7;
}
.collection-product img{
    width: 166px;
    height: 166px;
    padding-top: 35px;
    padding-bottom: 15px;
}
.collection-delete{
    position: absolute;
    right: 12px;
    top: 14px;
    cursor: pointer;
}
.collection-product-name{
    width: 80%;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}



.address-title .span1{
    font-size: 14px;
    color: #797979;
    font-weight: 400;
}
.address-title .span2{
    color: #00c3f5;
}
.address-title{
    font-size: 18px;
    font-weight: 700;
    color: #666;
    width: 100%;
    border-bottom: 1px solid #e4e2e2;
    height: 40px;
    line-height: 40px;
}
.mark{
    color: #ff0101;
}
.add-address-box{
    margin: 30px 0;
}
.add-address-box li{
    display: inline-block;
    position: relative;
}
.add-address-box ul{
    margin-bottom: 25px;
    font-size: 0;
}
.add-address-box span{
    font-size: 14px;
    color: #666;
    display: inline-block;
    width: 105px;
}
.add-address-box input{
    height: 35px;
    line-height: 35px;
    outline: none;
    border: 1px solid #e0e0e0;
    color: #666;
    text-indent: 6px;
    margin-right: 20px;
}
input:disabled{
    background: #fff;
}
input::-webkit-input-placeholder{
    color:#e0e0e0;
}
input::-moz-placeholder{
    color:#e0e0e0;
}
input:-moz-placeholder{
    color:#e0e0e0;
}
input:-ms-input-placeholder{
    color:#e0e0e0;
}
input[name='receiver-name']{
    margin-right: 50px;
}
input[name='receiver-phone']{
    margin-left: 15px;
}
input[name="receiver-name"],input[name='receiver-phone']{
    width: 300px;
}
input[name='province'],input[name='city'],input[name='county']{
    width: 243px;
}
input[name='detail-address']{
    width: 774px;
}
.exist-address-box{
    margin: 35px 0;
    width: 100%;
}
.exist-address-box ul{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fdfdfd;
    border: 1px solid #efefef;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.exist-address-box li{
    display: inline-block;
    text-align: center;
}
.exist-address-box-title ul{
    border: 1px solid #f7f4f4;
}
.exist-address-box .li1,.li3{
    width: 15%;
}
.exist-address-box .li2{
    width: 40%;
}
.exist-address-box .li4{
    width: 28%;
}
.exist-address-box-body  ul:hover{
    border: 1px solid #00c3f5;
    transition: 350ms;
}
.exist-address-box-body .li4 a{
    font-size: 12px;
    color: #666;
}
.exist-address-box-body .li4 .delete{
    color: #b3b2b2;
}
.exist-address-box-body .li4 .li4-dd{
    display: inline-block;
    position: relative;
    left: 36px;
}
.exist-address-box-body .li4 .default{
    padding: 2px 6px;
    background: #00c3f5;
    color: #fff;
    border-radius: 2px;
    position: relative;
    left: 65px;
    visibility: hidden;
}
.exist-address-box-body  ul:hover .default{
    visibility: visible;
    transition: 350ms;
}


.triangle{
    width: 0;
    height: 0;
    border: 5px solid #909090;
    border-top-color: transparent;
    border-left-color: transparent;
    position: absolute;
    right: 24px;
    top: 25px;
}
.area-list{
    position: absolute;
    display: none;
}
.area-list ul{
    border: 1px solid #c7c3c3;
    width: 243px;
    height: 220px;
    overflow: auto;
    background: #fff;
    font-size: 14px;
}
.add-address-box .area-list li{
    display: block;
    margin: 18px 0;
}

.area-list li div{
    cursor: pointer;
    padding-left: 18px;
}
.address button{
    border: none;
    background: #05b1f9;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.address button:hover{
    background-color: #1690d8;
    transition: 400ms;
}
.btn-save-address{
    padding: 8px 34px;
    border-radius: 4px;
}
.address input[name='isDefault']{
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.add-address-operation span{
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
}
.add-address-operation{
    width: 882px;
    text-align: right;
}

.address .area input{
    cursor: pointer;
}




.orderDetail .title{
    border-bottom: 1px solid #dad6d6;
}
.orderDetail .title span{
    display: inline-block;
    color: #00cbf9;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    padding: 15px 20px;
    text-align: center;
    border-bottom: 2px solid #00cbf9;
    cursor: pointer;
}
.orderDetail .progress{
    margin: 50px 0 80px 0;
}
.orderDetail .progress li{
    display: inline-block;
    position: absolute;
    top: -8.5px;
    font-size: 12px;
    color: #999;
    width: 150px;
    text-align: center;
}
.orderDetail .progress .li1{
    left: -10%;
}
.orderDetail .progress .li2{
    left: 23%;
}
.orderDetail .progress .li3{
    left: 56%;
}
.orderDetail .progress .li4{
    left: 90%;
}
.orderDetail .progress .circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #dad6d6;
    display: inline-block;
    margin-bottom: 10px;
}
.orderDetail .progress .order-time{
    margin-top: 5px;
}
.progress>div{
    width: 72%;
    position: relative;
    margin: 0 auto;
}
.progress .progress-covering{
    width: 0%;
    border-top: 3px solid #00cbf9;
    float: left;
    margin: 0;
    position: absolute;
    top: 0;
}
.progress .progress-line{
    border-top: 3px solid #dad6d6;
    margin: 0;
}
.orderDetail .detail-box .service span{
    padding: 0;
}
.orderDetail .state{
    width: 100%;
    height: 100px;
    background: #fafafc;
    border: 1px solid #eee;
}
.orderDetail .state>div{
    padding: 26.5px;
}
.orderDetail .state .p1{
    font-size: 18px;
    color: #666;
    padding-bottom: 15px;
}
.orderDetail .state .p2{
    font-size: 14px;
    color: #999;
}
.orderDetail .code-box{
    margin: 30px;
    font-size: 14px;
    color: #999;
}
.orderDetail .order-code{
    color: #666;
}
.detail-box table{
    width: 100%;
    text-align: center;
}
.detail-box thead tr{
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #8a8a8a;
    background: #f6f8fb;
    border: 1px solid #e6e6e6;
}
.detail-box thead .td1{
    color: #333;
    font-size: 14px;
    width: 40%;
    text-align: left;
}
.detail-box thead .td2,.td3,.td4,.td5{
    width: 15%;
    font-weight: 550;
}
.detail-box thead .td1 span{
    display: inline-block;
    padding-left: 20px;
}
.detail-box tbody img{
    width: 100px;
    height: 100px;
    padding-left: 15px;
    vertical-align: middle;
}
.detail-box tbody tr{
    border: 1px solid #e6e6e6;
}
.detail-box tbody td{
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    padding: 20px 0;
}
.detail-box tbody .td1{
    text-align: left;
}
.detail-box tbody .td1 div{
    display: inline-block;
    vertical-align: middle;
}
.detail-box tbody .td1 .p1{
    font-size: 16px;
    color: #262626;
}
.detail-box tbody .td1 .p2{
    color: #999;
    font-size: 13px;
    padding-top: 15px;
}
.detail-box tbody .span2{
    color: #E02B41;
}
.detail-box tbody .td5 a{
    color: #00cbf9;
    font-size: 14px;
    font-weight: 400;
}
.detail-box tbody .order-last td{
    padding: 15px 0;
}
.detail-box tbody .order-last .div1{
    float: left;
    text-align: left;
    margin-left: 30px;
}
.detail-box tbody .order-last .div2{
    float: right;
}
.detail-box tbody .order-last .p1{
    font-size: 14px;
    color: #595959;
}
.detail-box tbody .order-last .p2{
    font-size: 12px;
    color: #999;
    padding-top: 15px;
}
.detail-box tbody .order-last .div2 p{
    position: relative;
    top: 14px;
    right: 30px;
}
.detail-box tbody .order-last .span1{
    color: #E02B41;
    font-size: 20px;
}
.detail-box tbody .order-last .span2{
    margin: 0 4px;
}

.orderDetail .order-total{
    width: 320px;
    float: right;
    font-size: 14px;
    color: #898989;
    margin-top: 30px;
}
.orderDetail .order-total .box3-left{
    float: left;
}
.orderDetail .order-total .box3-right{
    float: right;
}
.orderDetail .order-total .div1{
    padding: 15px 0;
}
.orderDetail .order-total .div2{
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e7e7;
}
.orderDetail .order-total .div3{
    padding: 25px 0;
}
.orderDetail .order-total .div3 .box3-right{
    text-align: right;
    font-size: 20px;
    color: #e02b41;
    font-weight: bolder;
}


.edit-comment{
    width: 880px;
    height: 382px;
    border: 3px solid #b7b7b7;
    position:fixed;
    top: 38%;
    left: 50%; 
    margin-top: -140px;
    margin-left: -440px;
    background: #fff;
}   
.edit-area{
    width: 100%;
    height: 230px;
    border-bottom: 2px solid #d6d4d4;
}
.edit-text-area{
    width: 860px;
    height: 120px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #656363;
    letter-spacing: 0.5px;
    line-height: 24px;
    overflow: auto;
}
.edit-comment-img{
    text-align: left;
}
.edit-comment-img li{
    display: inline-block;
    margin: 0 10px;
}
.edit-comment-img img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    padding: 0 12px;
}
input[name='file']{
    display: none;
}
.icon-Increase{
    font-size: 40px;
    color: #8e8f90;
    float: left;
    position: relative;
    left: 10px;
    top: 3px;
    cursor: pointer;
}
.icon-enter{
    font-size: 22px;
    position: relative;
    top: 3px;
    left: 2px;
}
.operation-area{
    width: 100%;
    height: 52px;
}
.edit-comment button{
    width: 140px;
    height: 100%;
    border: none;
    background-color: #37a3e2;
    font-size: 17px;
    color: #fff;
    line-height: 48px;
    float: right;
    position: relative;
    bottom: 2px;
    left: 2px;
    cursor: pointer;
}


.all-comment-right{
    width: 100%;
    height: 100px;
    text-align: center;
    background: #fff;
    border-bottom: 2px solid #d6d4d4;
}
.all-comment-right>ul{
    position: relative;
    padding-top: 14px;
}
.star i{
    font-size: 16px;
    cursor: pointer;
}
.all-comment-right .star{
    letter-spacing: 0;
}
.all-comment-right li{
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
}
.all-comment-right>ul>li{
    display: inline-block;
    padding: 0 50px;
}
.all-comment-right>ul>li>ul>li{
    padding: 10px 0;
}
.icon-star,.icon-star-half{
    color: #ffb643;
}






