.container{
    background: url("../images/totalBackground.png") center no-repeat;
    height: 100vh;
    background-size: 100%;
}
.header{
    width: 100%;
    height: 80px;
}
a{
    text-decoration: none;
}
.logo{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-position: 10px 10px;
    margin-left: 55px;
    margin-top: 15px;
    font-size: 26px;
    font-weight: 550;
    color: #22baee;
}
.box{
    width: 894px;
    margin: 0 auto;
}
.return{
    width: 100%;
    margin: 30px 0 15px 0;
}
.return a{
    text-decoration: none;
    font-size: 15px;
    color: #22baee;
}
.return a:hover{
    font-size: 16px;
    text-decoration: underline;
}
.main{
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.span1{
    font-size: 25px;
    display: inline-block;
    margin-bottom: 40px;
}
.region_div{
    background-color: #e6e6e6;
    border-radius: 9px;
    height: 48px;
    margin-bottom: 10px;
}
.region{
    position: relative;
    left: -41px;
    display: inline-block;
    color: #464343;
    cursor: default;
}
.region::after{
    content: "";
    height: 14px;
    width: 1px;
    background-color: #a29b9b;
    position: absolute;
    left: 84px;
    top: 2px;
}
input{
    height: 48px;
    margin-bottom: 15px;
    background: #e6e6e6;
    border-radius: 9px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-indent: 16px;
    font-size: 14px;
    letter-spacing: 1px;
}
input[name='region']{
    position: relative;
    left: -42px;
    color: #464343;
}
.fa-sort-desc{
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 30px;
    top: -4px;
    right: -40px;
}
.warn{
    text-align: left;
    cursor: default;
}
.span2{
    font-size: 13px;
    color: #a29b9b;
}
input[name='username'],input[name='password'],input[name='repassword']{
    width: 100%;
}
.main-mid input{
    margin: 10px 0;
}
input[name='identifyCode']{
    width: 63%;
}
.btn_identifyCode{
    cursor: pointer;
    height: 46px;
    width: 35%;
    border-radius: 9px;
    outline: none;
    border: none;
    font-size: 14px;
    color:#fff;
    background-color: #22baee87;
}
.btn_identifyCode:hover{
    background-color: #22baee;
    transition: 220ms;
}
.message{
    height: 20px;
    text-align: left;
    padding-left: 3px;
    cursor: default;
}
.span3{
    font-size: 14px;
    color: #f30808;
}
.btn_submit{
    width: 100%;
    height: 48px;
    border: none;
    background-color: #22baee87;
    color: white;
    border-radius: 9px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}
.btn_submit:hover{
    background-color: #22baee;
    transition: 220ms;
    font-size: 18px;
}
.footer{
    text-align: center;
    padding: 60px 0 20px 0;
    font-size: 12px;
    color: #464343;
}
.footer span{ 
    margin-left: 6px;
}
/* .main-mid{
    display: none;
}
.warn{
    display: none;
}
.btn_submit{
    display: none;
} */
.show{
    display: block;
}
.notshow{
    display: none;
}
.regionlist{
    margin-top: 10px;
    width: 100%;
    height: 372px;
    background-color: #efefef;
}
.search input{
    height: 30px;
    width: 80%;
    margin: 0 0;
    background-color: #fff;
}
.regionlist .search{
    width: 98%;
    margin: 5px auto;
    padding-top: 10px;
}
.fa-search{
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 4px;
    left: -5px;
}
.list{
    text-align: left;
    width: 84%;
    height: 303px;
    margin: 0 auto;
    overflow: auto;
}
.list .selected div{
    background-color: #fff;
    border-radius: 8px;
}
.list li{
    cursor: pointer;
    margin: 8px 0;
}
.list li div{
    padding: 12px 10px 12px 0;
}
.list li span{
    display: inline-block;
    padding-left: 16px;
    color: #333;
}
.list li div:hover{
    background-color: #fff;
    border-radius: 8px;
    transition: 300ms;
}
.text-error::-webkit-input-placeholder { /* WebKit browsers */
    color:    red;
}
.text-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    red;
}
.text-error::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    red;
}
.text-error:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    red;
}